@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";


@theme{
  --color-primary: #F42330;
  --color-secondary: #3851B2;

  --font-primary: "Inter", "ui-sans-serif", "system-ui";
  --font-secondary: "Merriweather", "serif";

  --font-primary-color: #101010;
  --font-secondary-color: #363636;

  --default-font-family: "Onest", ui-sans-serif, system-ui, sans-serif;
}

