@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'Utendo';
  src:
    url('./assets/fonts/Utendo-Regular.woff') format('woff'),
    url('./assets/fonts/Utendo-Bold.woff') format('woff');
}

@theme {
  --color-primary: #f42330;
  --color-secondary: #3851b2;
  --color-tertiary: #ffe8e9;
  --color-bluewhitebg: #f0f5ff;

  --font-onest: 'Onest', ui-sans-serif, system-ui, sans-serif;
  --font-utendo: 'Utendo';

  --font-primary-color: #101010;
  --font-secondary-color: #363636;

  --default-font-family: var(--font-onest);
}

@layer base {
  body {
    font-family: var(--font-onest);
  }
}
